<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login - Práctica 1</title>
</head>
<body>
    <div>
        <h2>Iniciar Sesión</h2>
        <p n:if="$error">{$error}</p>
        <form action="/auth" method="post">
            <p>
                <label>Usuario</label><br>
                <input type="text" name="user" required>
            </p>
            <p>
                <label>Contraseña</label><br>
                <input type="password" name="pass" required>
            </p>
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>